BASE_URL=""

# App Type
VITE_APP_USERS=""

GEO_REVERSE=""
CAMERA_URL=""
GOOGLE_MAP_KEY=

# Options Email & Password
VITE_EMAIL_OPTIONS=""
VITE_PASS_OPTIONS=""

# SOCKET
SOCKET_URL=""

# Supabase
SUPABASE_URL=""
SUPABASE_ANON_KEY=""

# Wonderpush
WONDERPUSH_URL=""
WONDERPUSH_TOKEN=""

# METTAXIOT
METTAXIOT_KEY=""
METTAXIOT_SECRET=""
METTAXIOT_CREATE_TOKEN=""
METTAXIOT_VIDEO=""
METTAXIOT_AUDIO=""
TOKEN_METTAX=""
